/*page stuff*/
html, body{
	overflow-y:visible;
}
main{
	margin:auto;
	width:410px;
}
h1{
	text-align:center;
}








/* game stuff*/

table{
	border:3px solid grey;
	border-collapse:collapse;
}
td{
	width:50px;
	height:50px;
}
.selected{
	-webkit-filter:brightness(125%);
	filter:brightness(125%);
}
tr:nth-child(odd) td:nth-child(odd),tr:nth-child(even) td:nth-child(even){
	background-color:red;
}
tr:nth-child(odd) td:nth-child(even),tr:nth-child(even) td:nth-child(odd){
	background-color:black;
}

.BlackChecker{
	background-image:url('img/BlackChecker.png');
	background-repeat:no-repeat;
}
.RedChecker{
	background-image:url('img/RedChecker.png');
	background-repeat:no-repeat;
}
.BlackKing{
	background-image:url('img/BlackKing.png');
	background-repeat:no-repeat;
}
.RedKing{
	background-image:url('img/RedKing.png');
	background-repeat:no-repeat;
}